.TQ{
    border: 1px solid burlywoods;
    background-color: #FCDAD5;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      width: 100%; 
      margin-right: 30px;
      border-radius: 30px;
}
.T1{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    color: white;
    white-space: nowrap;
    text-align: 50% left;
}

.T2{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
     white-space: nowrap;
     text-align: 50% left;
     color: white;

}
.T3{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6 ;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    white-space: nowrap;
    text-align: 50% left;
    color: white;
    
}
.T4{
    display: flex;
    margin: 0 auto;
    background-color: #bebebe;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    white-space: nowrap;
    text-align: 50% left;
    color: white;
}
.T1 button{
  border: #AFD788 ;
    background-color:#AFD788;
    color: black;
    padding: 4px;
}
.T2 button{
  border: #AFD788 ;
  background-color:#AFD788;
  color: black;
  padding:4px;
}
.T3 button{
  border: #AFD788 ;
  background-color:#AFD788;
  color: black;
  padding: 4px;
}
.T4 button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 4px;
}
.container {
  margin: 0 auto;
  padding: 20px;
}
.checkout-form{

  float: left;
  border-radius: 30px;
  background-color: white;
  color: black;
  margin-left: 90px;
}

.order-details{ 
  border-radius: 30px;
  border: 1px ;
  width: 500px;
  margin-left: 480px;
  padding: 25px;
}
.checkout-form button{
  border: #AFD788 ;
  border-radius: 5%;
  background-color: #AFD788;
  color: black;
  padding: 5px;
}

.order-item button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 5px;
}
h1 {
  
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #E6E6FA;
}

.form-group {
  margin-bottom: 15px;
  background-color: #E6E6FA;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.order-details {
  margin-top: 60px;
  border: 1px solid black;
  background-color: #E6E6FA;
  color: black;
}

.order-item {
  justify-content: space-between;
  
}

.product-name {
  font-weight: bold;
}

.product-quantity {
  margin-right: 20px;
}

.product-price {
  color: #009688;
}

.order-total {
  font-weight: bold;
}
.ck img{ 
  display: flex;
  justify-content: space-between;
  padding: 12 50px;
  height: 120px;
  width: 120px;
  margin-left: 145px;
}
.ck table{
  border: 1px ;
  height: 120px;
  border-radius: 30px;
  width: 120px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: nowrap;
  float: left;
  background-color: #E6E6FA;
  text-align: center;
  padding: 10px;
}
.chitiet table{
  border: 1px ;
  height: 120px;
  border-radius: 30px;
  width: 120px;
  margin-left: 55%;
  margin-top: 40px;
  white-space: nowrap;
  background-color: #E6E6FA;
  text-align: center;
  padding: 45px;

}
.ck button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 8px;
}

.chitiet{
  text-align: center;
}